player-connection-mode=Listen
player-connection-guid=1054057798
player-connection-debug=0
player-connection-project-name=imposteur game
player-connection-ip=192.168.56.1
player-connection-ip=192.168.111.1
player-connection-ip=192.168.59.1
player-connection-ip=10.44.19.58
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
